In [8]:
import pandas as pd
import numpy as np
import xlrd
from scipy.stats import norm

file_path = "LSItubiancishu.xlsx"
data = pd.read_excel(file_path)

data.head()

   times
0      6
1     13
2      6
3      4
4      2

In [9]:
pieces = []

for col in data.columns:

	tmp_series = data[col].value_counts()
	
	tmp_series.name = col
	
	pieces.append(tmp_series)
	
	df_value_counts = pd.concat(pieces, axis=1)

    
print(df_value_counts)

    times
0   21964
2   14431
4   12595
5   10851
6    9840
3    9478
7    7856
1    6680
8    6001
9    4019
10   2822
11   1852
12   1154
13    738
14    502
15    277
16    167
17     90
18     39
19     27
20      8
21      7
22      1